body {
	font-family: arial sans-serif;
	font-size: 18px;
}

ul {
	list-style-type: none;
	background-color: transparent;
	margin:0px;
	padding:0px;
	overflow: hidden;
}

#nav li {
	display: inline-block;
}

#nav li a{
	display: block;
	color: midnightblue;
	padding: 14px 16px;
	text-decoration: none;
}
