
.main-content {
    max-width: 1500px;
    background-color: white;
    position: relative;
    margin: auto;
    z-index: 200;
}

header.container-fluid {
    background-color: #333;
    padding: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    header.container-fluid {
        background-color: #333;
        padding: 0 0 33.29% 0;
        height: 0;
    }
}

n.header-image {
    width: 100%;
    max-width: 1500px;
}

@media (min-width: 768px) {
    .header-image {
        position: absolute;
    }
}

.header-txt {
    text-align: center;
    color: white;
}

ul {
    list-style-type: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.nav li{
    display: inline-block;
}

.nav li a {
    display: inline-block;
    color: #FFFFBE;
    font-size: 48px;
    padding: 28px 32px;
    text-decoration: none;
}

@media (min-width: 768px) {
    .header-txt {
        position: relative;
    }
}

.menu-icon {
    display:none; /*hide menu icon initially*/
}
/*styles for mobile*/
@media only screen and (max-width: 480px) {
}

.btn btn-primary dropdown-toggle {
  display: none;
}
